@model Kenmark_Consumer.Models.PressClipping

@{
    ViewBag.Title = "Press Clippings";
}

<script type="text/javascript">
   
    $(function () {
        
        

        $(".fancybox").fancybox({

            autoSize: false,
            "width": 400,
            "height": 500,

        });

        //function updateFilter() {
        $("#filterButton").click(function () {
            //$.post("/PressClipping/UpdateData", $("#filterForm").serialize(), function (data) {
            //$("#filterForm").html(data.html);     
            $.post("/PressClipping/UpdateData", $("#filterForm").serialize()).done(function (data) {
                $('#GridWrapper').hide().html(data.html).fadeIn(250);
            });
        })

     });

    
    //$.post("/PressClipping/UpdateData", $("#filterForm").serialize(), function (data) {
    //$("#filterForm").html(data.html);

    // $.post("/PressClipping/UpdateData", $("#filterForm").serialize());

    //$.post("/PressClipping/UpdateData", $("#filterForm").serialize()).done(function(data){
    //    alert(data.html);
   
    
</script>

<style type="text/css">
    @@media (max-width: 767px) {
        .lightboxText {
            font-size: 3.5vmin;
        }
    }
    @@media (min-width: 768px) {
        .lightboxText {
            font-size: 2vmin;
        }
    }

    @@media (max-width: 767px) {
        .lightboxTextSmall {
            font-size: 2.5vmin;
        }
    }
    @@media (min-width: 768px) {
        .lightboxTextSmall {
            font-size: 1.25vmin;
        }
    }

</style>


<div class="col-xs-12"style="margin-bottom:40px;margin-top:20px;">PROFILE / PRESS</div>

<div class="col-xs-12 col-sm-3">
@using (Html.BeginForm("Index", "PressClipping", FormMethod.Post, new { @id = "filterForm"}))
{

    
        <div class="col-xs-12 no-gutter" style="font-size:16px;">PRESS CLIPPINGS</div>
            <div class="col-xs-12 col-sm-12 no-gutter">
                <div class="col-xs-11 col-sm-12 no-gutter">
                    <div class="col-xs-6 col-sm-12" style="margin-bottom:10px;padding-left:0px;">
                    @Html.DropDownListFor(m => m.Filter_Like_Collection, Kenmark_Consumer.Models.Common.Collections, "All Brands", new { @class = "form-control" })
                    </div>
                    <div class="col-xs-6 col-sm-12" style="padding-left:0px;">
                    @Html.DropDownListFor(m => m.Filter_DateRange, Kenmark_Consumer.Models.PressClipping.Date_List, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            @Html.HiddenFor(m => m.Page)
        
}
    
     <button id="filterButton" type="submit" class="btn btn-default submitButton"style="margin-top:10px; margin-bottom:10px;">Filter</button>        
</div>



        
<div class="col-xs-12 col-sm-9">
    <div id ="GridWrapper" class="row">
        @{Html.RenderPartial("_Grid", Model);}                 
    </div>
</div>
              
  @*       
   <div class="col-xs-12 no-gutter" style="margin-top:50px;">
       <div class="col-xs-6 col-sm-2 no-gutter">
           @if (Model.Page > 0)
           {
               <a class="pageControl" href="pressclipping?page=@(Model.Page - 1)" style="font-size:14px;color:#767676">< PREVIOUS</a> 
           }
       </div>
       <div class="col-xs-6 col-sm-10 text-right-xs no-gutter">
          @if (Model.HasNextPage)
          {
               <a class="pageControl" href="pressclipping?page=@(Model.Page + 1)" style="font-size:14px;color:#767676">NEXT ></a>
          }
        </div>

        @(Html.HiddenFor(m => m.Filter_DateRange))
        @(Html.HiddenFor(m => m.Filter_Like_Collection)) 
        @(Html.HiddenFor(m => m.Page))
         
   </div>*@

<!-- START OF FANCYBOX DIV -->

     <div id="insideImage" style="display:none">
        <img id="magPic" class="img-responsive center-block" style="max-width:295px;" src="#"/>
               
       <div class="col-xs-12 no-gutter"  style="margin-top:20px;">
           <div class="col-xs-12 col-sm-6 no-gutter">
                <span class="lightboxText" id="magRelease"></span><br />
                <span class="lightboxTextSmall" id="magBrand"></span>
           </div>
         

          <div class="hidden-xs col-sm-6 text-right no-gutter">
             <a id="magPdf" target="_blank" href="#">
             <span class="lightboxTextSmall" style="color:#767676; font-weight:bold;" ><span id="icon-sprite-press" ></span>VIEW LARGER (PDF)</span></a>
          </div>

          <div class="col-xs-12 visible-xs no-gutter">
            <a id="magPdfSmall" target="_black" href="#">
            <span class="lightboxTextSmall" style="color:#767676; font-weight:bold;" ><span id="icon-sprite-press-sm" ></span>VIEW LARGER (PDF)</span></a>
         </div>
                   
       </div>
    </div>
    