@model Kenmark_Consumer.Models.WhereToBuy

<script type="text/javascript">

    $('.webText').mouseenter(function () {
        $(this).css("color", "#64635e");
    })
        .mouseleave(function () {
            $(this).css("color", "black");
        });

</script>

<div class="col-xs-12">
    
    <span style="font-size:16px;"><strong>@Model.Customers.Count</strong> RETAILERS WITHIN <strong>@Model.Radius</strong> MILES OF <strong>@Model.Zip</strong></span> <br />
    <span style="display:inline-block; margin-bottom:30px;">*Specific frames may not be in stock but can always be special ordered.</span>
</div>

<div class="row row-eq-height" id="customerRow">
    <div class="col-xs-12">
    
        @foreach (var s in Model.Customers) { 
       
        <div class="col-xs-6 col-sm-4 no-gutter" style="margin-bottom:40px;">
        
            <div class="col-xs-12 no-gutter">
                <span><strong style="text-transform:capitalize;">@(s.customer_name.ToLower())</strong></span><br />
                <span style="text-transform:capitalize;">@(s.address.ToLower())</span><br />
                <span style="text-transform:capitalize;">@(s.city.ToLower()), @(s.state)</span><br />
                @(s.phone)<br />
                @(s.distance) @(s.distance == 1 ? "Mile" : "Miles")<br />
           
           
           <div id="customerDir" style="margin-top:3px;">
               <a id="dir" href="https://www.google.com/maps/dir//@(s.address) + @(s.city) + @(s.state) + @(s.zip)" target="_blank">
               <img src="~/Content/images/Where_To_Buy/icon_map.png" />
               <span class="webText" style="display:inline-block; margin-right:5px; text-decoration: none; color:black;"><strong>DIRECTIONS</strong></span>
               </a>
            
             @if(!String.IsNullOrEmpty(s.website == null ? null : s.website.Trim())){
                 <a href ="@(s.website.Contains("http:") || s.website.Contains("https:") ? s.website : "http://" + s.website)" target="_blank">
                    <img src="~/Content/images/Where_To_Buy/icon_link.png" />
                    <span class="webText" style="display:inline-block; color:black; text-decoration:none;"><strong>WEBSITE</strong></span> 
                 </a>
             } 

            </div>
       </div>  
   </div> 
            }
   </div>
</div>