<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="@(Url.Content("~/Content/themes/base/jquery.fancybox.css"))" type="text/css" media="screen" />
    <link rel="stylesheet" href="@(Url.Content("~/Content/themes/base/jquery.fancybox-buttons.css"))" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" media="all" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/smoothness/jquery-ui.css"    />

    @Styles.Render("~/Content/css")
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="../ckeditor/ckeditor.js"></script>

    <script src="//use.typekit.net/pxt7sgq.js"></script>
    <script>try { Typekit.load(); } catch (e) { }</script>

    <script type="text/javascript">
        var is_mobile = false;
        $(function () {

            $('.fancybox').fancybox({
                autoSize: true,


            });




            $(window).on('resize', function () {
                if ($('#mobile-test').is(':visible')) {
                    is_mobile = true;
                }

                if (is_mobile) {
                    $('.navbar-inner div').css('padding', 0);
                    $('#logo-sprite').css('margin-right', 0);

                }
                var h = $('.navbar').height() - 5;
                $('#main-body').css('margin-top', (h));
            });


            if ($('#mobile-test').is(':visible')) {
                is_mobile = true;
            }

            if (is_mobile) {
                $('.navbar-inner div').css('padding', 0);
                $('#logo-sprite').css('margin-right', 0);
            }

            


            var h = $('.navbar').height() - 5;
            $('#main-body').css('margin-top', (h));

            $('#Brands-Link').click(function () {
                $('.carousel-control').toggle();
                if ($('#brand-links-div').is(':visible')) {
                    $('.navbar-inner .container').addClass('shadow');
                }
                else {
                    $('.navbar-inner .container').removeClass('shadow');
                }
                $("#brand-links-div").fadeToggle(100);

                if ($('#profile-links-div').is(':visible')) {
                    $('#profile-links-div').hide();
                }

            });



            $('#Profile-Link').click(function () {

                if ($('#profile-links-div').is(':visible')) {
                    $('.navbar-inner .container').addClass('shadow');
                }
                else {
                    $('.navbar-inner .container').removeClass('shadow');
                }
                $("#profile-links-div").fadeToggle(100);

                if ($('#brand-links-div').is(':visible')) {
                    $('#brand-links-div').hide();
                }
            });



            $('.collection-link-text').hover(function (e) {
                $(this).prev().removeClass('desaturate').addClass('saturate');
            })

            $('.collection-link-text').mouseleave(function (e) {
                $(this).prev().removeClass('saturate').addClass('desaturate');
            })


            $('.collection-link-sub').hover(function (e) {
                $(this).prev().removeClass('desaturate').addClass('saturate');
            })

            $('.collection-link-sub').mouseleave(function (e) {
                $(this).prev().removeClass('saturate').addClass('desaturate');
            })

            $('.browseText').mouseenter(function () {
                $(this).css("color", "black");
            })

            .mouseleave(function () {
                $(this).css("color", "#64635e");
            });

            $('.navText').mouseenter(function () {
                $(this).css("color", "#adadad");
            })

            .mouseleave(function () {
                $(this).css("color", "black");
            });

            $('#modalBtn').hover(function(){
                $(this).css("background-color", "white");
            });

            
            $('#logInBtn').click(function () {
                location.href = "http://customer.kenmarkoptical.com/";
            });
            
            $('#accountBtn').click(function () {
                location.href = "http://customer.kenmarkoptical.com/Home/NewAccount";
            });


           
        });



    </script>

    <style type="text/css">
        
        .modal-content {
            background:rgb(203,203,203);
            background:rgba(203,203,203,0.9);
            padding:30px;
            border-radius:0;
        }

        .modal-backdrop {
            background-color:transparent;
        }

        @@media (min-width: 768px) {
            #borderDiv {
                border-right: 1px solid black; 
            }
        }

        @@media (max-width: 767px) {
            #customerBorderDiv {
                border-top: 1px solid black;
                margin-top:20px;
            }
        }

         @@media (max-width: 767px) {
            #customerNote {
                margin-top:30px;
            }
        }
    </style>
</head>
<body>


    <!-- PUSHY NAV -->

    <nav class="pushy pushy-right visible-xs" id="main-pushy" style="z-index: 9999;">
        <div id="main-pushy-wrapper" class="topRow">
            <div class="col-xs-12" style="margin-top: 20px; margin-bottom: 50px;">
                <a href="~/">
                    <img src="~/Content/images/all_pages/logo/logo-nav.png"></a>
            </div>
            <ul style="padding: 20px;">
                <li><a id="shop" href="#">Shop <span class="glyphicon glyphicon-chevron-right" style="color: #FFF; margin-left: 110px;" aria-hidden="true"></span></a></li>
                <li><a id="profile" href="#">Profile <span class="glyphicon glyphicon-chevron-right" style="color: #FFF; margin-left: 100px;" aria-hidden="true"></span></a></li>
                <li><a href="/TheMirror">The Mirror <span class="glyphicon glyphicon-chevron-right" style="color: #FFF; margin-left: 68px;" aria-hidden="true"></span></a></li>
                <li><a href="/Wheretobuy">Where To Buy <span class="glyphicon glyphicon-chevron-right" style="color: #FFF; margin-left: 39px;" aria-hidden="true"></span></a></li>
            </ul>

            <div class="col-xs-12 text-center">
                <button  type="button" class="btn btn-default pushyBtn menu-btn" data-toggle="modal" data-target="#modalContainer">LOGIN</button>
            </div>
            @*<div class="col-xs-12 text-center" style="margin-top: 10px;">
                <span style="font-weight: normal; color: white; font-size: .90em;">or </span>
                <span style="font-weight: normal; color: #d28b19; font-size: .90em;">Create Account</span>
            </div>*@
        </div>
        <!-- END OF MAIN PUSHY WRAPPER -->

        <div id="pushy-profile-wrapper" style="display: none;">
            <a href="#" id="shopBack" style="padding-left: 15px; padding-bottom: 0px; font-size: 0.9em; font-weight: normal; color: lightgray">< &nbsp BACK</a>
            <ul style="padding: 15px; padding-bottom: 0px;">
                <li><span style="font-size: 0.9em; color: #d28b19;">BROWSE</span></li>
                <li><a href="/profile" style="font-size: 0.8em; font-weight: normal;">Our Story</a></li>
                <li><a href="#" style="font-size: 0.8em; font-weight: normal;">Team</a></li>
                <li><a href="/showschedule" style="font-size: 0.8em; font-weight: normal;">Show Schedule</a></li>
                <li><a href="/pressclipping" style="font-size: 0.8em; font-weight: normal;">Press</a></li>
                <li><a href="/pressrelease" style="font-size: 0.8em; font-weight: normal;">News</a></li>
                <li><a href="#" style="font-size: 0.8em; font-weight: normal;">Careers</a></li>
                <li><a href="contact" style="font-size: 0.8em; font-weight: normal;">Contact</a></li>
            </ul>
        </div>
        <!-- END OF PUSHY PROFILE WRAPPER> -->

        <div id="pushy-shop-wrapper" style="display: none;">
            <a href="#" id="profileBack" style="padding-left: 15px; padding-bottom: 0px; font-size: 0.9em; font-weight: normal; color: lightgray">< &nbsp BACK</a>
            <ul style="padding: 15px; padding-bottom: 0px;">
                <li><span style="font-size: 0.9em; color: #d28b19;">Browse</span></li>
                <li><a href="/Collection/ViewCollection?collection=ALL&Type=MEN&Page=1" style="font-size: 0.8em; font-weight: normal;">Men</a></li>
                <li><a href="#" style="font-size: 0.8em; font-weight: normal;">Women</a></li>
                <li><a href="#" style="font-size: 0.8em; font-weight: normal;">Youth</a></li>
                <li><a href="#" style="font-size: 0.8em; font-weight: normal;">RX</a></li>
                <li><a href="#" style="font-size: 0.8em; font-weight: normal;">Sun</a></li>
            </ul>

            <ul style="padding: 15px; padding-top: 0px;">
                <li><span style="font-size: 0.9em; color: #d28b19;">BRANDS</span></li>
                <li><a href="#" style="font-size: 0.8em; font-weight: normal;">Vera Wang</a></li>
                <li><a href="#" style="font-size: 0.8em; font-weight: normal;">Zac Posen</a></li>
                <li><a href="/Original-Penguin-Eyewear" class="menu-btn" style="font-size: 0.7em; font-weight: normal;">Original Penguin</a></li>
                <li><a href="#" style="font-size: 0.8em; font-weight: normal;">Lilly Pulitzer</a></li>
                <li><a href="#" style="font-size: 0.8em; font-weight: normal;">Kensie</a></li>
                <li><a href="#" style="font-size: 0.8em; font-weight: normal;">Timex</a></li>
                <li><a href="#" style="font-size: 0.8em; font-weight: normal;">Jhane Barnes</a></li>
                <li><a href="#" style="font-size: 0.8em; font-weight: normal;">Dana Buchman</a></li>
                <li><a href="#" style="font-size: 0.8em; font-weight: normal;">Wolverine</a></li>
                <li><a href="#" style="font-size: 0.8em; font-weight: normal;">Republica</a></li>
                <li><a href="#" style="font-size: 0.8em; font-weight: normal;">House Collection</a></li>
            </ul>
        </div>
        <!-- END OF PUSHY SHOP WRAPPER -->

    </nav>
    <!-- END OF PUSHY NAV -->

    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #eeebdf;">
        <div class="pushy-container">
            <!-- container to push page -->
            <div class="container shadow" style="padding-left: 0px; padding-right: 0px;">

                <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-12 text-right hidden-xs" style="margin-right: 15px;">
                        <button id="modalBtn" type="button" class="btn btn-default navText" data-toggle="modal" data-target="#modalContainer" style="border:none;margin-left: 15px;margin-right:10px; font-size: 13px; font-weight:bold;">LOGIN</button>
                    </div>
                    <div class="col-sm-12 text-right visible-sm" style="margin-right: 20px;">
                        <a class="facebook-sprite" href="https://www.facebook.com/kenmarkeyewear" target="_blank" style="margin-right: 5px;"><span></span></a>
                        <a class="twitter-sprite" href="https://twitter.com/kenmarkeyewear" target="_blank" style="margin-right: 5px;"><span></span></a>
                        <a class="instagram-sprite" href="https://instagram.com/kenmarkeyewear" target="_blank" style="margin-right: 5px;"><span></span></a>
                        <a class="pinterest-sprite" href="https://www.pinterest.com/kenmarkeyewear/" target="_blank" style="margin-right: 15px;"><span></span></a>
                    </div>
                </div>
                <div class="container" style="background-color: white">
                    <div class="row no-gutter">
                        <!-- KENMARK ROW -->

                        <div class="col-xs-4 col-sm-4 col-md-3 text-center">
                            <a id="logo-sprite" href="~/" class="navbar-brand"></a>
                        </div>


                        <button type="button" class="navbar-toggle menu-btn" data-toggle="collapse"
                            data-target="#" style="margin-top: 0px;">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <div class="col-sm-8 col-md-7">
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav" style="margin-left: 0; margin-right: 0px;">
                                    <li><a class="navBtn" id="Brands-Link" href="#"><span class="navText" style="color: black;">SHOP</span></a></li>
                                    <li><a class="navBtn" id="Profile-Link" href="#"><span class="navText" style="color: black;">PROFILE</span></a></li>
                                    <li><a href="/TheMirror"><span class="navText" style="color: black;">THE MIRROR</span></a></li>
                                    <li><a href="/WhereToBuy"><span class="navText" style="color: black;">WHERE TO BUY</span></a></li>
                                    <li><span><a id="icon-sprite" href="#"></a></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2  hidden-sm">
                            <div class="collapse navbar-collapse">
                                <div class="navbar-right">
                                    <a class="facebook-sprite" href="https://www.facebook.com/kenmarkeyewear" target="_blank" style="margin-right: 5px;"><span></span></a>
                                    <a class="twitter-sprite" href="https://twitter.com/kenmarkeyewear" target="_blank" style="margin-right: 5px;"><span></span></a>
                                    <a class="instagram-sprite" href="https://instagram.com/kenmarkeyewear" target="_blank" style="margin-right: 5px;"><span></span></a>
                                    <a class="pinterest-sprite" href="https://www.pinterest.com/kenmarkeyewear/" target="_blank"><span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Shop Dropdown -->
                <div id="brand-links-div" class="container navDropdown hidden-xs" style="background-color: #eeebdf; z-index: 5; display: none; width: 100%; max-width: 1074px; box-shadow: 0px 6px 6px -3px rgba(50, 50, 50, 0.67);">


                    <div class="col-xs-12 col-sm-4">
                        <div class="col-xs-12">

                            <span class="col-xs-12" style="font-size: 16px; font-weight: bold; margin-top: 20px;">BROWSE</span>
                            <div class="col-xs-12">
                                <hr style="border-color: #c5c1b8; margin-bottom: 10px;" />
                                <span class="glyphicon glyphicon-chevron-right" style="color: #64635e" aria-hidden="true"></span>&nbsp;
                            <a href="/Collection/ViewCollection?collection=ALL&Type=MEN&Page=1" style="text-decoration: none; font-weight: bold; color: #64635e;"><span class="browseText">MEN</span></a>

                                <hr style="border-color: #c5c1b8; margin-top: 10px; margin-bottom: 10px;" />
                                <span class="glyphicon glyphicon-chevron-right" style="color: #64635e" aria-hidden="true"></span>&nbsp;
                            <a href="/Original-Penguin-Eyewear" class="browseText" style="text-decoration: none; font-weight: bold; color: #64635e;"><span class="browseText">WOMEN</span></a>

                                <hr style="border-color: #c5c1b8; margin-top: 10px; margin-bottom: 10px;" />
                                <span class="glyphicon glyphicon-chevron-right" style="color: #64635e" aria-hidden="true"></span>&nbsp;
                            <a href="/Original-Penguin-Eyewear" class="browseText" style="text-decoration: none; font-weight: bold; color: #64635e;"><span class="browseText">YOUTH</span></a>

                                <hr style="border-color: #c5c1b8; margin-top: 10px; margin-bottom: 10px;" />
                                <span class="glyphicon glyphicon-chevron-right" style="color: #64635e" aria-hidden="true"></span>&nbsp;
                            <a href="/Original-Penguin-Eyewear" class="browseText" style="text-decoration: none; font-weight: bold; color: #64635e;"><span class="browseText">RX</span></a>

                                <hr style="border-color: #c5c1b8; margin-top: 10px; margin-bottom: 10px;" />
                                <span class="glyphicon glyphicon-chevron-right" style="color: #64635e" aria-hidden="true"></span>&nbsp;
                            <a href="/Original-Penguin-Eyewear" class="browseText" style="text-decoration: none; font-weight: bold; color: #64635e;"><span class="browseText">SUN</span></a>

                            </div>
                        </div>


                    </div>
                    <!-- SHOP DROPDOWN -->
                    <div class="col-xs-12 col-sm-8">

                        <span style="font-size: 16px; font-weight: bold; margin-top: 20px;" class="col-xs-12 text-left">BRANDS</span>

                        <div class="col-xs-6 col-sm-3">
                            <a href="/Original-Penguin-Eyewear" style="display: inline-block;">
                                <img class="img-responsive  saturate-2" src="@Url.Content("~/Content/images/all_pages/nav/logo_vera.jpg")" /></a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a href="/Original-Penguin-Eyewear" style="display: inline-block;">
                                <img class="img-responsive  saturate-2" src="@Url.Content("~/Content/images/all_pages/nav/logo_zac.jpg")" /></a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a href="/Original-Penguin-Eyewear" style="display: inline-block;">
                                <img class="img-responsive saturate-2" src="@Url.Content("~/Content/images/all_pages/nav/logo_timex.jpg")" /></a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a href="/Original-Penguin-Eyewear" style="display: inline-block;">
                                <img class="img-responsive  saturate-2" src="@Url.Content("~/Content/images/all_pages/nav/logo_jhanebarnes.jpg")" /></a>
                        </div>


                        <div class="col-xs-6 col-sm-3">
                            <a href="/Original-Penguin-Eyewear">
                                <img class="img-responsive  saturate-2" src="@Url.Content("~/Content/images/all_pages/nav/logo_penguin.jpg")" /></a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a href="/Original-Penguin-Eyewear" style="display: inline-block;">
                                <img class="img-responsive  saturate-2" src="@Url.Content("~/Content/images/all_pages/nav/logo_lillypulitzer.jpg")" /></a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a href="/Original-Penguin-Eyewear" style="display: inline-block;">
                                <img class="img-responsive saturate-2" src="@Url.Content("~/Content/images/all_pages/nav/logo_kensie.jpg")" /></a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a href="/Original-Penguin-Eyewear" style="display: inline-block;">
                                <img class="img-responsive  saturate-2" src="@Url.Content("~/Content/images/all_pages/nav/logo_housecollection.jpg")" /></a>
                        </div>

                        <div class="col-xs-6 col-sm-3">
                            <a href="/Original-Penguin-Eyewear">
                                <img class="img-responsive  saturate-2" src="@Url.Content("~/Content/images/all_pages/nav/logo_vera.jpg")" /></a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a href="/Original-Penguin-Eyewear" style="display: inline-block;">
                                <img class="img-responsive  saturate-2" src="@Url.Content("~/Content/images/all_pages/nav/logo_zac.jpg")" /></a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a href="/Original-Penguin-Eyewear" style="display: inline-block;">
                                <img class="img-responsive saturate-2" src="@Url.Content("~/Content/images/all_pages/nav/logo_timex.jpg")" /></a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a href="/Original-Penguin-Eyewear" style="display: inline-block;">
                                <img class="img-responsive  saturate-2" src="@Url.Content("~/Content/images/all_pages/nav/logo_jhanebarnes.jpg")" /></a>
                        </div>

                        <div class="col-xs-6 col-sm-3">
                            <a href="/Original-Penguin-Eyewear">
                                <img class="img-responsive  saturate-2" src="@Url.Content("~/Content/images/all_pages/nav/logo_danabuchman.jpg")" /></a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a href="/Original-Penguin-Eyewear" style="display: inline-block;">
                                <img class="img-responsive  saturate-2" src="@Url.Content("~/Content/images/all_pages/nav/logo_wolverine.jpg")" /></a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a href="/Original-Penguin-Eyewear" style="display: inline-block;">
                                <img class="img-responsive saturate-2" src="@Url.Content("~/Content/images/all_pages/nav/logo_republica.jpg")" /></a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a href="/Original-Penguin-Eyewear" style="display: inline-block;">
                                <img class="img-responsive  saturate-2" src="@Url.Content("~/Content/images/all_pages/nav/logo_markofagreatstory.jpg")" /></a>
                        </div>

                    </div>
                </div>
                <!-- END OF SHOP DROPDOWN -->

                <!-- PROFILE DROPDOWN -->

                <div id="profile-links-div" class="container navDropdown hidden-xs" style="background-color: #eeebdf; z-index: 5; display: none; width: 100%; max-width: 1074px; box-shadow: 0px 6px 6px -3px rgba(50, 50, 50, 0.67);">
                    <div class="row" style="margin-top: 25px; margin-bottom: 25px;">
                        <div class="col-xs-12 no-gutter">
                            <div class="col-xs-10 no-gutter">
                                <div class="col-xs-3">
                                    <a href="/profile">
                                        <img class="img-responsive desaturate" src="@Url.Content("~/Content/images/home/insta.jpg")" />
                                        <span class="div-text-center collection-link-sub">
                                            <span style="display: block; text-align: center">OUR STORY</span>
                                        </span>
                                    </a>
                                </div>

                                <div class="col-xs-3">
                                    <a href="#">
                                        <img class="img-responsive desaturate" src="@Url.Content("~/Content/images/home/jason.jpg")" />
                                        <span class="div-text-center collection-link-sub">
                                            <span style="display: block; text-align: center">TEAM</span>
                                        </span>
                                    </a>
                                </div>

                                <div class="col-xs-3">
                                    <a href="/showschedule">
                                        <img class="img-responsive desaturate" src="@Url.Content("~/Content/images/home/brand.jpg")" />
                                        <span class="div-text-center collection-link-sub">
                                            <span style="display: block; text-align: center">SHOW SCHEDULE</span>
                                        </span>
                                    </a>
                                </div>

                                <div class="col-xs-3">
                                    <a href="/pressclipping">
                                        <img class="img-responsive desaturate" src="@Url.Content("~/Content/images/home/insta.jpg")" />
                                        <span class="div-text-center collection-link-sub">
                                            <span style="display: block; text-align: center">PRESS</span>
                                        </span>
                                    </a>
                                </div>

                            </div>

                            <div class="col-xs-2">
                                <a href="/pressrelease" class="browseText" style="color: #64635e; font-weight: bold; text-decoration: none;">NEWS</a>
                                <hr style="border-color: #c5c1b8; margin-top: 10px; margin-bottom: 10px;" />

                                <a href="#" class="browseText" style="color: #64635e; font-weight: bold; text-decoration: none;">CAREERS</a>
                                <hr style="border-color: #c5c1b8; margin-top: 10px; margin-bottom: 10px;" />

                                <a href="/contact" class="browseText" style="color: #64635e; margin-bottom: 25px; font-weight: bold; text-decoration: none;">CONTACT</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </nav>



    <div id="modalContainer" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="opacity:1;">
                    <div class="container-fluid">
                        <div class="row">
                        <div class="col-xs-12 col-sm-7" id="borderDiv" >
                            <span class="modal-title" style="display: inline-block; font-size: 20px; font-weight: bold; color: black;">FOR OPTICAL<br />
                                PROFESSIONALS</span><br />
                            <button type="button" class="btn btn-default pushyBtn" style="margin-top: 30px;" id="logInBtn">LOGIN</button><br />
                            <button type="button" class="btn btn-default createAcctBtn" style="margin-top: 15px; margin-bottom: 15px;" id="accountBtn">CREATE ACCOUNT</button>
                        </div>
                        <div class="col-xs-12 col-sm-5 no-gutter" id="customerBorderDiv" style="padding-left:20px;">
                            <span id="customerNote" style="font-weight:bold;font-size:15px;display:inline-block">A NOTE TO CONSUMERS</span><br />
                            <span style="display:inline-block;margin-top:15px;font-size:14px;">Sorry, but Kenmark does not sell directly to consumers</span><br />
                            <span style="display:inline-block;margin-top:15px;font-size:14px;">Please visit <a href="/wheretobuy" style="text-decoration:none;color:#d28b19">Where to Buy</a>
                                to find a retailer near you who stocks Kenmark frames.
                            </span>
                        </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pushy-container">
        <!-- container to push page -->
        <div id="main-body" class="container" style="padding-top: 0px; padding-bottom: 0px;">

            @RenderBody()

        </div>



        <div class="container" style="background-color: #eeebdf; margin-top: 30px; margin-bottom: 10px;">
            <div class="row" style="padding-left: 35px; padding-right: 35px;">
                <div class="col-xs-6">
                    <span style="font-size: 12px; font-weight: bold;">CONTACT US  &nbsp;&nbsp; 1.800.627.2898 &nbsp;&nbsp; SALES REP LOGIN</span><br />
                    <span style="font-size: 11px;">ALL MATERIAL @(DateTime.Now.Year) KENMARK OPTICAL GROUP.</span>

                </div>
                <div class="col-xs-6 text-right">
                    <a class="facebook-sprite-large" href="#" style="margin-right: 5px;"><span></span></a>
                    <a class="twitter-sprite-large" href="#" style="margin-right: 5px; margin-top: 0px;"><span></span></a>
                    <a class="instagram-sprite-large" href="#" style="margin-right: 5px; margin-top: 0px;"><span></span></a>
                    <a class="pinterest-sprite-large" href="#" style="margin-top: 0px;"><span></span></a>
                </div>
            </div>
        </div>

        @RenderSection("scripts", required: false)
    </div>
    <!-- container to push page -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        jQuery.fn.visible = function () {
            return this.css('visibility', 'visible');
        };

        jQuery.fn.invisible = function () {
            return this.css('visibility', 'hidden');
        };

        jQuery.fn.visibilityToggle = function () {
            return this.css('visibility', function (i, visibility) {
                return (visibility == 'visible') ? 'hidden' : 'visible';
            });
        };
    </script>

    <script type="text/javascript" src="@(Url.Content("~/Scripts/jquery.fancybox.pack.js"))"></script>
    <script type="text/javascript" src="@(Url.Content("~/Scripts/jquery.mousewheel-3.0.6.pack.js"))"></script>
    <script type="text/javascript" src="@(Url.Content("~/Scripts/jquery.fancybox-buttons.js"))"></script>
    <script type="text/javascript" src="@(Url.Content("~/Scripts/jquery.elevatezoom.js"))"></script>


    <div id="mobile-test" class="hidden-sm hidden-md hidden-lg"></div>
</body>
</html>
