@model Kenmark_Consumer.Models.Style

<script type="text/javascript">

    $(function () {
        $('.divTitle').click(function () {
            var content = this.id;
            $('.divContent').hide();
            $('.divTitle').css('border-top', 'none');
            $('#' + content).css('border-top', '1px solid black');
            $('#' + content + "Span").show();
        });

        $(document).keypress(function (e) {
            if (e.which == 13) {
                $('#updateZipBtn').click();
                return false;
            }
        }); // catches Enter press, clicks the filter button

        $(".fancybox").fancybox({

            autoSize: false,
            "width": 400,
            "height": 500,

        });

        $('#updateZipBtn').click(function () {
            var newZip = $('#newZip').val();
            $.post("Style/ChangeZip", { zip: newZip }, function (data) {
                location.reload();
            });
        });

        $('.carousel').carousel();
        $('.additionalColors').click(function () {
            var id = $(this).attr("id");

            id = parseInt(id);
            $('#carousel-style').carousel(id);

        });

        if (is_mobile) {

            $('.zoomContainer').css('height', '300px');
            $('.zoomWindowContainer').css('height', '300px');
            $('.zoomWindow').css('height', '300px');

            $('.frameImg').hover(function () {

                var frameId = this.id;
                var frameNum = frameId.replace("zoom_", "");

                var zoomFrame = ('#zoom_' + frameNum);

                $('.carousel-indicators').css("z-index", "0");

                $(zoomFrame).elevateZoom({
                    zoomType: "inner",

                });
            });
        }

        if (!is_mobile) {

            $('.frameImg').hover(function () {
                var frameId = this.id;
                var frameNum = frameId.replace("zoom_", "");

                var zoomFrame = ('#zoom_' + frameNum);
                $('.zoomContainer').hide();
                $('.carousel-indicators').css("z-index", "0");

                $(zoomFrame).elevateZoom({

                    cursor: "crosshair",
                    zoomWindowFadeIn: 400,
                    zoomWindowFadeOut: 400,

                    zoomWindowPosition: 6,
                    borderSize: 2,

                });
            });
        }


    });
</script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-560d5a96a846b598" async="async"></script>

<div class="row" style="padding-left: 50px; margin-top: 20px;">
    <div class="col-md-3" style="font-size: 12px;"><a href="~/Eyewear/@Model.Collection.Replace(" ", "-")"
         style="text-decoration:none;color:black;">@(Model.Collection.ToUpper())</a> / 
        
        <a href="~/Eyewear/@Model.Collection.Replace(" ", "-")/@(Model.Group)">
            @(Model.Group)</a>
        
        / @(Model.Style_Name)
</div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-9">
        <div id="carousel-style" class="carousel slide" data-interval="false">
            
            <ol class="carousel-indicators" style="bottom:-30px;">
                @for (int i = 0; i < Model.Colors.Count; i++)
                {
                    if (@i == 0)
                    {
                        @: <li data-target="#carousel-style" data-slide-to="@i"class="active"></li>
                    }
                    else
                    {
                        @: <li data-target="#carousel-style" data-slide-to="@i"></li>
                    }
                }
                    
            </ol>

            <div class="carousel-inner" role="listbox" style="margin-top: 80px; margin-bottom: 40px;">
                <div class="item active">
                    

                @for (int i = 0; i < Model.Colors.Count; i++)
                {

                    if (i % 1 == 0 && i != 0)
                    { 
                        @:</div>
                        @:<div class="item">
                    }
                     <div class="col-xs-12">
                            <img id="zoom_@i" class="center-block img-responsive frameImg" src="http://kenmark.kenmarkoptical.com/showimage.aspx?img=@(Model.Colors[i])&w=600" data-zoom-image="http://kenmark.kenmarkoptical.com/showimage.aspx?img=@(Model.Colors[i])&w=1300" />
                         
                     </div>
                }
                    </div>
            </div>
         

         <!-- CONTROLS -->
            <a class="left carousel-control" href="#carousel-style" role="button" data-slide="prev" style="position:absolute;z-index:5">
                <span class="glyphicon glyphicon-chevron-left" style="color: gray;" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="right carousel-control" href="#carousel-style" role="button" data-slide="next" style="position:absolute;z-index:5">
                <span class="glyphicon glyphicon-chevron-right" style="color: gray;" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>

        
        <!-- END OF CAROUSEL -->

        <div class="col-sm-4" style="margin-top: 30px;">
            <span style="font-size: 22px;">@Model.Collection</span><br />
            <span style="font-size: 20px; font-weight: bold;">@Model.Style_Name</span><br />
            <button class="btn btn-default submitButton" style="margin-top: 20px; width: 150px;">Print Specs</button><br />
            <span style="display:inline-block;margin-top:10px;color: #adadad">Take this spec sheet to<br /> your optician for easy ordering</span><br />

            <span style="display:inline-block;margin-top:40px;"></span>
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
           <div class="addthis_sharing_toolbox" data-title="@Model.Style_Name"></div><br />

            <a href="https://www.pinterest.com/pin/create/button/
        ?url=http://1181.kenmarkoptical.com
        &media=https://1181.kenmarkoptical.com/Style?sku=ABRN
        &description=ABRIANA"
        data-pin-do="buttonPin"
        data-pin-config="beside">
  <img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" />
</a>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>


            @*<div class="fb-share-button" data-href="http://1181.kenmarkoptical.com/Style?sku=@Model.SKU" data-layout="button_count"></div>
            <a class="twitter-sprite-large" href="https://twitter.com/kenmarkeyewear" target="_blank" style="margin-right: 5px;"><span></span></a>
            <a class="instagram-sprite-large" href="https://instagram.com/kenmarkeyewear" target="_blank" style="margin-right: 5px;"><span></span></a>
            <a class="pinterest-sprite-large" href="https://www.pinterest.com/kenmarkeyewear/" target="_blank" style="margin-right: 15px;"><span></span></a>*@
            <br />

            <a class="fancybox" href="#feedback" style="display:inline-block;margin-top:25px;color:#adadad;font-weight:bold;font-size:14px;text-decoration:none;">FEEDBACK</a>
            <!-- Fancybox Div -->
            <div id="feedback" style="display:none; z-index:9999;">
               @{Html.RenderPartial("~/Views/Feedback/_Grid.cshtml", new Kenmark_Consumer.Models.Feedback() { Style = Model.Style_Name });}
            </div>
        </div>

        

        <div class="col-sm-8" style="margin-top: 30px;margin-bottom:30px;">
            <table class="table table-condensed">
                <tr style="font-weight: bold;">

                    <td style="border-top:none; display:none;" id="storyBorder"><span style="cursor:pointer;text-decoration: none; color: black;border-top:1px solid black;" id="story" class="divTitle">STORY</span></td>
                    <td style="border-top:none;"><span style="cursor:pointer;text-decoration: none; color: black;" id="specs" class="divTitle">SPECS</span></td>
                    <td style="border-top:none;"><span style="text-decoration: none; color: black; cursor:pointer;border-top:1px solid black;" id="measurements" class="divTitle">MEASUREMENTS</span></td>
                    <td style="padding:0;border-top:none;"><a class="measurement-sprite divTitle" id="frame" style="cursor:pointer" /><span></span></td>
                </tr>
            </table>
            <div class="col-sm-12 no-gutter">
                <span class="divContent" id="storySpan" style="font-size:14px;display:none;margin-bottom:45px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum lectus sit 
                    amet lorem congue facilisis. Praesent porttitor metus metus, sed auctor nibh tincidunt 
                    in. Duis quis mi placerat, tincidunt odio sit amet, elementum justo. Ut non sodales dolor,
                     id aliquam dui. Donec euismod ut enim ac suscipit. Aenean elementum magna nunc, non 
                    aliquam dolor dapibus ac. Sed malesuada aliquet ex, viverra egestas lacus placerat in. 
                    Nunc consectetur nulla ac nunc efficitur iaculis. </span>

                <span class="divContent" id="specsSpan" style="display:none;font-size:14px;">Material: @Model.Material<br />
                                              Temples: @Model.Temples<br />
                                              Bridge: @Model.Bridge</span>
                
                <table  id="measurementsSpan" class="table table-condensed table-striped divContent">
                    <thead>
                        <tr style="font-size:14px;">
                            <th>Eye</th>
                            <th>A</th>
                            <th>B</th>
                            <th>ED</th>
                            <th>Temples</th>
                            <th>Circ</th>
                            <th>Color</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in Model.Measurements)
                        { 
                            <tr>
                                <td>@(c.Eye)</td>
                                <td>@(c.A)</td>
                                <td>@(c.B)</td>
                                <td>@(c.ED)</td>
                                <td>@(c.Temples)</td>
                                <td>@(c.Circ)</td>
                                <td>@(c.Color)</td>
                                
                            </tr>
                        }
                    </tbody>
                    
                </table>


                <span style="display:none" class="divContent" id="frameSpan">
                    <img src="~/Content/images/Style/diagram_measure.png" />
                    
                    <span style="display:inline-block;margin-top:20px;font-size:14px">Wondering what all these numbers mean?
                        There are three common measurements - horizontal lense width (<strong>"Eye"</strong>),
                        bridge width (<strong>"DBL"</strong>) and Temple length. See the diagram for details.
                    </span>

               </span>
            </div>
        </div>
    </div>
    <!-- END OF MAIN FRAME DIV -->

    <div class="col-xs-12 col-sm-3 text-center" style="margin-bottom:30px;">
        <span style="font-size: 14px; font-weight: bold; display: inline-block; margin-bottom: 20px;">Additional Colors</span><br />
       @* @foreach (var p in Model.Colors)
        {
            *@
        @for (int i = 0; i < Model.Colors.Count; i++)
        {
        <img id="@i" class="img-responsive center-block additionalColors" style="margin-top:15px;margin-bottom:15px; cursor:pointer;" src="http://kenmark.kenmarkoptical.com/showimage.aspx?img=@(Model.Colors[i])&w=200" />
        }
    </div>
</div>

<div class="col-xs-12 col-sm-9 col-sm-offset-3">
    <span style="display:inline-block;margin-bottom:20px;font-size:14px;font-weight:bold;">Where To Buy</span>
    <button type="button" class="btn btn-default" data-toggle="modal" data-Target="#updateCustomerZip" id="customerZip">@ViewBag.Zip</button>
    @{Html.RenderPartial("_Grid", Model);}
</div>

<div class="row" style="margin-top:15px;">
    <img class="img-responsive" src= "@Url.Content("~/Content/images/Brand/" + @Model.Collection.Replace(" ", "").Replace("Eye", "").Replace("Original", "") + "/bottom.jpg")"  />
</div>

<div id="updateCustomerZip" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center" style="opacity:1;">
                    <div class="container-fluid">
                        
                        <div class="col-xs-12">
                            <span style="display: inline-block; font-size: 20px; font-weight: bold; color: black;">UPDATE ZIP CODE</span><br />
                            
                            <div class="text-center">
                                <input id="newZip" type="text" class="form-control" placeholder="@ViewBag.zip" style="margin:auto;max-width:200px;margin-top:20px;"/>
                            </div><br />

                            <div class="col-xs-12 no-gutter">
                                <button type="button" class="btn btn-default pushyBtn" style="margin-top: 20px;" id="updateZipBtn">SUBMIT</button><br />
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>