@model Kenmark_Consumer.Models.PressRelease
@{
    ViewBag.Title = "Press Release";
}

<script type="text/javascript">

    $(function () {
        


        $('.title').click(function () {

             var sideStory = this.id;
            var sideStory = sideStory.replace("side", "");

            $('#titleDiv').hide();
            $('#story-' + sideStory).fadeIn(200);
            $('.sidePressTitles').fadeIn(200);
        })

        $('.sideTitle').click(function () {

            //var story = this.id;
            var sideStory = this.id;
            var sideStory = sideStory.replace("side", "");

            $('.storyContainer').hide();
            $('#story-' + sideStory).fadeOut(200);
            $('#story-' + sideStory).fadeIn(200);

        })
    });
</script>

<div class="row">
    <img class="img-responsive" src="~/Content/images/ShowSchedule/header.jpg" /> 
    <div class="row" style="padding-left:50px;margin-top:10px;">
        <div class="col-md-3" style="font-size:12px;margin-bottom:30px;">PROFILE / PRESS RELEASES</div>
    </div>
</div>

<div class="row">
    
    <div class="col-xs-12 col-sm-4 col-md-3" style="padding-left:50px;margin-bottom:30px;" >

        
            <div  style="margin-bottom:20px;letter-spacing:1px;font-weight:bold;font-size:18px;">PRESS<br /> RELEASES</div> <br />
       
            <span style="font-weight:bold;">PRESS CONTACT</span><br />
            <span>Dawn Ruiz, Marketing</span><br />
            <span>502-267-4486 ext. 1149</span><br />
            <span style="display:inline-block;margin-bottom:30px;">dawnruiz@kenmarkoptical.com</span>

        <hr class="visible-xs no-gutter" style="margin-top:10px; border-color:#808080;" />
  
        
        @foreach (var p in Model.Items) { 
            
               <div class="sidePressTitles" style="display:none;margin-bottom:15px;font-size:14px;">
                <ul class="no-gutter">
                    <li>
                       <a id="side@(p.press_release_id)" class="sideTitle"style="color:black;" href="#"> @p.release_title</a>
                    </li>
                </ul>
            </div>
            
        }
        
    
        </div>
  


    <div class="col-xs-12 col-sm-8 col-md-9">

        <div class="col-xs-12" id="titleDiv">
        
            @foreach (var t in Model.Items) { 
            <div style="margin-bottom:15px;font-size:14px;">
                <ul>
                    <li>
                       <a id="@(t.press_release_id)" class="title"style="color:black;" href="#"> @t.release_title</a>
                    </li>
                </ul>
            </div>
            }
        </div>
        
        <div id="storyWrapper">
       @foreach (var s in Model.Items) { 
           <div class="storyContainer" id="story-@(s.press_release_id)" style="display:none;">
                <div style="font-size:20px; font-weight:bold;">@s.release_title</div><br />
                <div style="font-size:16px;">@s.release_date.ToShortDateString()</div><br />
           
                <div style="margin-bottom:30px;">@Html.Raw(@s.release_text)</div>
           </div>
           
       }

</div>

    </div>
    </div>